.surface {
  display: block;
}

.tone-base {
  background-color: var(--color-surface-base);
}
.tone-subtle {
  background-color: var(--color-surface-subtle);
}
.tone-inset {
  background-color: var(--color-surface-inset);
}
